name: "test"
on: [push]
jobs:
  windows:
    name: "windows-2016"
    runs-on: windows-2016
    steps:
      - id: checkout
        uses: actions/checkout@v2
      - id: build
        run: |
          $env:PATH += ";C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\Tools\"
          $env:PATH += ";C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\\MSBuild\15.0\bin"
          $env:PATH += ";C:\Program Files (x86)\Windows Kits\10\bin\x86"
          $env:PATH += ";C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\VC\VCPackages"
          $env:PATH += ";C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.16.27023\bin\HostX86\x86"
          $env:PATH += ";C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake\bin"
          $pwd.Path
          ls
          win_build_vs.bat build /CI
