name: "MiNiFi-CPP CI"
on: [push, pull_request, workflow_dispatch]
env:
  DOCKER_CMAKE_FLAGS: -DDOCKER_VERIFY_THREAD=3 -DUSE_SHARED_LIBS= -DSTRICT_GSL_CHECKS=AUDIT -DCI_BUILD=ON -DENABLE_AWS=ON -DENABLE_LIBRDKAFKA=ON -DENABLE_MQTT=ON -DENABLE_AZURE=ON -DENABLE_SQL=ON \
    -DENABLE_SPLUNK=ON -DENABLE_GCP=ON -DENABLE_OPC=ON -DENABLE_PYTHON_SCRIPTING=ON -DENABLE_LUA_SCRIPTING=ON -DENABLE_KUBERNETES=ON -DENABLE_TEST_PROCESSORS=ON -DENABLE_PROMETHEUS=ON \
    -DENABLE_ELASTICSEARCH=OFF -DENABLE_GRAFANA_LOKI=ON -DDOCKER_BUILD_ONLY=ON
  SCCACHE_GHA_ENABLE: true
  CCACHE_DIR: ${{ GITHUB.WORKSPACE }}/.ccache
jobs:
  windows_VS2022:
    name: "windows-2022"
    runs-on: windows-2022
    timeout-minutes: 240
    env:
      LUA_DIR: D:\a\nifi-minifi-cpp\nifi-minifi-cpp\.lua
      WINDOWS_MINIFI_OPTIONS: >-
        -DCMAKE_BUILD_TYPE=Release
        -DBUILD_ROCKSDB=OFF
        -DBUILD_SHARED_LIBS=OFF
        -DCI_BUILD=ON
        -DCUSTOM_MALLOC=OFF
        -DDOCKER_BUILD_ONLY=OFF
        -DDOCKER_PUSH=OFF
        -DDOCKER_SKIP_TESTS=ON
        -DENABLE_ALL=OFF
        -DENABLE_AWS=OFF
        -DENABLE_AZURE=OFF
        -DENABLE_BUSTACHE=OFF
        -DENABLE_BZIP2=OFF
        -DENABLE_CIVET=OFF
        -DENABLE_COAP=OFF
        -DENABLE_CONTROLLER=OFF
        -DENABLE_COVERAGE=
        -DENABLE_CURL=OFF
        -DENABLE_ELASTICSEARCH=OFF
        -DENABLE_ENCRYPT_CONFIG=OFF
        -DENABLE_EXPRESSION_LANGUAGE=OFF
        -DENABLE_GCP=OFF
        -DENABLE_GPS=OFF
        -DENABLE_GRAFANA_LOKI=OFF
        -DENABLE_JNI=OFF
        -DENABLE_KUBERNETES=OFF
        -DENABLE_LIBARCHIVE=OFF
        -DENABLE_LIBRDKAFKA=OFF
        -DENABLE_LUA_SCRIPTING=OFF
        -DENABLE_LZMA=OFF
        -DENABLE_MQTT=OFF
        -DENABLE_NANOFI=OFF
        -DENABLE_OPC=OFF
        -DENABLE_OPENCV=OFF
        -DENABLE_OPENWSMAN=OFF
        -DENABLE_OPS=OFF
        -DENABLE_PCAP=OFF
        -DENABLE_PDH=OFF
        -DENABLE_PROMETHEUS=OFF
        -DENABLE_PYTHON_SCRIPTING=OFF
        -DENABLE_ROCKSDB=OFF
        -DENABLE_SENSORS=OFF
        -DENABLE_SFTP=OFF
        -DENABLE_SMB=OFF
        -DENABLE_SPLUNK=OFF
        -DENABLE_SQL=OFF
        -DENABLE_TEST_PROCESSORS=OFF
        -DENABLE_USB_CAMERA=OFF
        -DENABLE_WEL=OFF
        -DFORCE_COLORED_OUTPUT=ON
        -DINSTALLER_MERGE_MODULES=OFF
        -DMINIFI_FAIL_ON_WARNINGS=OFF
        -DMINIFI_OPENSSL=ON
        -DMSI_REDISTRIBUTE_UCRT_NONASL=OFF
        -DPORTABLE=ON
        -DSKIP_TESTS=OFF
        -DSTATIC_BUILD=ON
        -DMINIFI_USE_REAL_ODBC_TEST_DRIVER=OFF
        -DUSE_SHARED_LIBS=OFF
    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: ~/AppData/Local/Mozilla/sccache/cache
          key: ${{ runner.os }}-2022-sccache-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-2022-sccache-${{ github.ref }}
            ${{ runner.os }}-2022-sccache-refs/heads/main
            ${{ runner.os }}-2022-sccache
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.4
      - name: Install wix v5
        run: |
          dotnet tool install --global wix
          wix --version
        shell: powershell
      - name: Set up Python
        run: choco -y install python & refreshenv
        shell: cmd
      - name: Install sqliteodbc driver
        run: |
          Invoke-WebRequest -Uri "http://www.ch-werner.de/sqliteodbc/sqliteodbc_w64.exe" -OutFile "sqliteodbc_w64.exe"
          if ((Get-FileHash 'sqliteodbc_w64.exe').Hash -ne "a4804e4f54f42c721df1323c5fcac101a8c7a577e7f20979227324ceab572d51") {Write "Hash mismatch"; Exit 1}
          Start-Process -FilePath ".\sqliteodbc_w64.exe" -ArgumentList "/S" -Wait
        shell: powershell
      - name: Add sccache to path
        run: '[Environment]::SetEnvironmentVariable("PATH", [Environment]::GetEnvironmentVariable("PATH", [EnvironmentVariableTarget]::Machine) + ";C:\hostedtoolcache\windows\sccache\0.7.7\x64\", [EnvironmentVariableTarget]::Machine);'
        shell: powershell
      - name: build
        run: |
          python -m venv venv & venv\Scripts\activate & pip install -r requirements.txt & python main.py --noninteractive --skip-compiler-install --minifi-options="%WINDOWS_MINIFI_OPTIONS%" --cmake-options="-DCMAKE_C_COMPILER_LAUNCHER=sccache -DCMAKE_CXX_COMPILER_LAUNCHER=sccache"
        shell: cmd
        working-directory: bootstrap
      - name: Save cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: ~/AppData/Local/Mozilla/sccache/cache
          key: ${{ runner.os }}-2022-sccache-${{ github.ref }}-${{ github.sha }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: cpack_log
          path: D:/a/nifi-minifi-cpp/nifi-minifi-cpp/build/_CPack_Packages/win64/WIX/wix.log
